 # requirements.txt
 streamlit
 pandas
 python-dotenv
 openai>=1.0.0
 pydantic

 # --- LangChain ---
 langchain==0.1.20 # <--- Задаем конкретную версию
 langchain-openai # Обычно ставится с langchain, но оставим для ясности
 langchain-community # Обычно ставится с langchain, но оставим для ясности

 # --- RAG компоненты ---
 faiss-cpu
 sentence-transformers